
@font-face
{
    font-family: 'FSMeWeb-Regular';
    src: url('https://res.cloudinary.com/tearfund/raw/upload/v1664533753/General/Fonts/FSMeWeb-Regular_rcfffc.woff2') format('woff2');
}

@font-face
{
    font-family: 'FSMeWeb-Bold';
    src: url('https://res.cloudinary.com/tearfund/raw/upload/v1664533752/General/Fonts/FSMeWeb-Bold_ce2eoa.woff2') format('woff2');
}

body,html
{
    height: 100%;
    margin: 0;
    background: url("../images/WhereYourMoneyGoes-Desktop.png") center center/cover no-repeat #d5995f;
    font-family: 'FSMeWeb-Regular', Arial, sans-serif;
}

.content-box
{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: auto;
}

.content-box > h1,
.content-box > p:nth-child(4),
.tool-tip-text > p:nth-child(2)
{
    font-family: 'FSMeWeb-Bold', Arial, sans-serif;
}

.header-border
{
    border-color: #008caa !important;
    width: 10%;
}

button
{
    width: 49%;
    line-height: 2.5;
}

.btn-78,
.tool-tip-text#btn-78
{
    background-color: #6F3F87;
}

.btn-22,
.tool-tip-text#btn-22
{
    background-color: #173145;
}

.tool-tip-text span
{
    position: absolute;
    top: -8px;
    left: 22.5%;
    width: 17px;
    height: 17px;
    transform: rotate(45deg);
    background: inherit;
}

.tool-tip-text#btn-22 span
{
    left: 73%;
}

/*******************************************************************************************************************************************************************************************************************************/

@media only screen and (min-width: 768px) and (max-width: 991px)
{
    body
    {
        background-position: center;
        background-size: auto 100%;
    }
}

/*******************************************************************************************************************************************************************************************************************************/

@media only screen and (max-width: 767px)
{
    body
    {
        background: url("../images/WhereYourMoneyGoes-Mobile.png") center/cover no-repeat #d5995f;
    }

    .content-box
    {
        margin-top: 70%;
    }

}

/*******************************************************************************************************************************************************************************************************************************/

@media only screen and (max-width: 650px)
{
    body
    {
        background-position: top;
        background-size: contain
    }


    .content-box
    {
        margin-top: 90%;
    }
}
