
@font-face
{
    font-family: 'FSMeWeb-Regular';
    src: url('https://res.cloudinary.com/tearfund/raw/upload/v1664533753/General/Fonts/FSMeWeb-Regular_rcfffc.woff2') format('woff2');
}

@font-face
{
    font-family: 'FSMeWeb-Bold';
    src: url('https://res.cloudinary.com/tearfund/raw/upload/v1664533752/General/Fonts/FSMeWeb-Bold_ce2eoa.woff2') format('woff2');
}




body,html
{
    height: 100%;
    margin: 0;
    background: url("../images/WhereYourMoneyGoes-Desktop.png") center center/cover no-repeat #d5995f;
    font-family: 'FSMeWeb-Regular', Arial, sans-serif;
}


.content-box
{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: auto;
}

.content-box > p:nth-child(4)
{
    font-family: 'FSMeWeb-Bold', Arial, sans-serif;
}



/*******************************************************************************************************************************************************************************************************************************/

@media only screen and (min-width: 768px) and (max-width: 991px)
{
    body
    {
        background-position: center;
        background-size: auto 100%;
    }
}

/*******************************************************************************************************************************************************************************************************************************/

@media only screen and (max-width: 767px)
{
    body
    {
        background: url("../images/WhereYourMoneyGoes-Mobile.png") center/cover no-repeat #d5995f;
    }

}

/*******************************************************************************************************************************************************************************************************************************/

@media only screen and (max-width: 650px)
{
    body
    {
        background-position: top;
        background-size: contain
    }

}
